<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/index-layout">
<head lang="en">
<title th:text="${modelDisplay} "></title>
</head>
<body>
	<div layout:fragment="content">
		<div th:unless="${customer}">
			<div class="x_panel">
				<div class="x_title">
					<h3 class="text-danger">Stripe Not Connected</h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form method='post' class="form form-horizontal"
						th:action="${'/admin/account/' + item.id + '/stripe'}">
						<div class="form-control-group col-xs-12 text-center">
							<span class="text-info"
								th:text="${'To connect ' + item.accountName + ' to stripe, select user and click Connect'}"></span>
						</div>
						<label class="control-label col-xs-12 col-sm-3">Select
							(Billing) User:</label>
						<div class="col-xs-12 col-sm-9">
							<select class="form-control" name="userId">
								<option th:each="user : ${users}" th:text="${user.email}"
									th:value="${user.id}"></option>
							</select>
						</div>
						<div class="form-control-group col-xs-12 text-center">
							<hr />
							<button type="submit" class='btn btn-primary'>Connect</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:if="${customer}">
			<script src="https://js.stripe.com/v3/"></script>
			<script th:inline="javascript">
				var apikey = /*[[${stripePK}]]*/'pk_test_invalidkey';
				var stripe = Stripe(apikey);
			</script>
			<div class="col-xs-12 col-sm-12">
				<div class="x_panel">
					<div class="x_title">
						<h3 class="text-primary">
							Stripe Settings<a class="collapse-link pull-right small"><i
								class="fa fa-chevron-down"></i></a>
						</h3>
						<h5 class="text-success">
							Account Connected - <a target='blank'
								th:text="${'View ' + item.accountName + ' in Stripe'}"
								th:href="${dashlink + 'customers/' + customer.id}">View in
								Stripe</a>
						</h5>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="display: none;">
						<pre th:text="${customer}"></pre>
					</div>
				</div>
			</div>
			<div th:if="${(#lists.isEmpty(invoices)) and (upcomingInvoice == null)}"></div>
			<div th:unless="${(#lists.isEmpty(invoices)) and (upcomingInvoice == null)}" class="col-xs-12 col-sm-12">
					<div class="x_panel">
						<div class="x_title">
							<h3>Invoices</h3>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<h2>Invoices</h2>
							<table id='invoicelist'
								class="table table-striped table-condensed">
								<thead>
									<tr>
										<th>Date</th>
										<th>Period</th>
										<th>Total</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="invoice : ${invoices}">
										<td><a target="blank"
											th:text="${#dates.format(new java.util.Date(1000*invoice.created),'MMM dd, YYYY')}"
											th:href="${dashlink + 'invoices/' + invoice.id}"></a></td>
										<td
											th:text="${#dates.format(new java.util.Date(1000*invoice.periodStart),'MMM dd')} + ' to ' + ${#dates.format(new java.util.Date(1000*invoice.periodEnd),'MMM dd')}">Amount</td>
										<td th:text="'$ ' + ${invoice.total/100}">Total</td>
										<td th:if="${invoice.paid}">
										  <span class='pull-left'>Paid. Receipt#: </span>
										  <span class='pull-right' th:text="${invoice.receiptNumber}"></span>
										</td>
										<td	th:unless="${invoice.paid}">
										  <span class='pull-left'>Due: </span>
										  <span class='pull-right' th:text=" ${invoice.amountDue/100}"></span>
										</td>
									</tr>
									<tr th:if="${upcomingInvoice}">
										<td><a target="blank"
											th:text="'Upcoming: '+ ${#dates.format(new java.util.Date(1000*upcomingInvoice.nextPaymentAttempt),'MMM dd, YYYY')}"
											th:href="${dashlink + 'customers/' + customer.id + '/upcoming_invoice'}"></a></td>
										<td
											th:text="${#dates.format(new java.util.Date(1000*upcomingInvoice.periodStart),'MMM dd')} + ' to ' + ${#dates.format(new java.util.Date(1000*upcomingInvoice.periodEnd),'MMM dd')}">Amount</td>
										<td th:text="'$ ' + ${upcomingInvoice.total/100}">Total</td>
										<td><form
												th:action="${'/admin/account/' + item.id + '/previewinvoice'}"
												method='POST'>
												<button class='btn btn-primary btn-xs'>Preview email</button> (not configured)
											</form></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="x_panel">
					<div class="x_title">
						<h3>Payment Info</h3>
						<div class="clearfix"></div>
					</div>
					<div class="x_content text-center"
						th:if="${#lists.size(customer.sources.data) == 0}">
						<h2 class="text-danger">Account Has No Credit Card on File</h2>
						<form th:action="${'/admin/account/' + item.id + '/addcard'}"
							method="POST">
							<script src="https://checkout.stripe.com/checkout.js"
								class="stripe-button"
								th:attr="data-key=${stripePK},data-email=${customer.email}"
								data-name="Talytica" data-zip-code="true"
								data-label="Add Credit Card"
								data-panel-label="Save Payment Info"
								data-allow-remember-me="false"
								data-image="/images/favicon-32x32.png" data-locale="auto">
								
							</script>
						</form>
					</div>
					<div class="x_content"
						th:unless="${#lists.size(customer.sources.data) == 0}">
						<table id='cardslist' class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Type</th>
									<th>Expiration</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="source : ${customer.sources.data}"	th:if="${source.object} == 'card'">
									<td th:text="${source.brand}"></td>
									<td	th:text="${source.expMonth} + '/' + ${source.expYear}">Expiration</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="x_panel">
					<div class="x_title">
						<h3>Subscriptions</h3>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" th:unless="${subscription == null}">
						<span>Account is subscribed to below plans</span>
						<table id='planlist' class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Plan</th>
									<th>Units</th>
									<th>Pricing</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${subscription.items.data}">
									<td><a target="blank" th:text="${item.plan.id}"
										th:href="${dashlink + 'plans/' + item.plan.product}"></a></td>
									<td th:text="${item.quantity}">Units</td>
									<td th:text="'$' + ${item.quantity * item.plan.amount / 100}" class='text-right'>Qty</td>
								</tr>								
							</tbody>
						</table>
					</div>
					<div class="x_content text-center" th:if="${subscription == null}">
						<h2 class="text-danger text-center">Account has no associated Plan</h2>
						<span class="text-primary">Please choose a plan to create a
							subscription</span>
						<form th:action="${'/admin/account/' + item.id + '/subscribe'}"
							method="POST">
							<table id='planlist'
								class="table table-striped table-condensed text-left">
								<thead>
									<tr>
										<th>Select</th>
										<th>Plan</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="plan : ${allplans}">
										<td><input type="radio" name="planId"
											th:value="${plan.id}" required="true"></input></td>
										<td><a target="blank" th:text="${plan.id}"
											th:href="${dashlink + 'plans/' + plan.id}"></a></td>
										<td th:text="'$' + ${plan.amount/100}">Amt</td>
									</tr>
								</tbody>
							</table>
							<div class='form-control-group col-xs=12 col-sm-6'>
								<label class='control-label'>Units:</label>
								<input class='form-control' name='quantity' value='1'/>
							</div>
							<div class='form-control-group col-xs=12 col-sm-6'>
								<label class='control-label'>Trial Period (days):</label>
								<input class='form-control' name='trialPeriod' value='30'/>
							</div>
							<div class='form-control-group col-xs=12 text-center'>
								<hr/>
								<button class='btn btn-default' type="submit">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</body>
</html>