<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/index-layout">
<head lang="en">
<title th:text="${modelDisplay + ' List'} ">Listings</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="x_panel">
			<div class="x_title">
			  <div class="col-xs-3"><h3 th:text="${modelDisplay + ' List'}">List</h3></div>
			  <div class="col-xs-6">
			  <form class="form form-inline" action="javascript:addQuestionsToSurvey();">
			  <label class="control-label" for="surveysection">Add <span id='selectedqcount'>0</span> Selected Questions To:</label>
			  <select name="surveysection" id="surveysection" class="form-control">
			    <option th:each="section : ${allSurveySections}" th:value="${section.id.surveyId + ':' +section.id.sectionNumber}" th:text="${'Survey #' + section.id.surveyId + ' - Section ' + section.id.sectionNumber}">Wireframe</option>
			  </select>
			  <button type="submit" class="btn btn-primary">Add</button>			  
			  </form>
			  
			  </div>
			  <div class="col-xs-3"><a class="pull-right" th:href="${'/admin/' + model + '/create'}"><i class="fa fa-plus"></i> Create</a></div>	 
			  <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div th:if="${not #lists.isEmpty(items)}">
					<table id='listtable' class="table table-striped table-condensed">
					  <thead>
						<tr>
							<th></th>
							<th>Id</th>
							<th>Type</th>
							<th>Corefactor</th>
							<th>Text</th>
							<th>Media</th>
							<th>Description</th>
							<th>Foreign Source</th>
							<th>Foreign Id</th>
							<th>Direction</th>
							<th>Answers</th>
							<th>Display Id</th>
							<th>View</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item : ${items}">
							<td th:text="${item.questionId}">Id</td>
							<td><a th:text="${item.questionId}" th:href="${'/admin/' + model + '/' + item.questionId}">Id</a></td>
							<td th:text="${item.type}">Type</td>
							<td th:text="${item.corefactorName}">Corefactor</td>
							<td th:text="${item.questionText}">Text</td>
							<td>
							  <th:block th:if="${item.questionMedia}">
							    <img th:if="${#strings.containsIgnoreCase(item.questionMedia,'.jpg')}" th:src="${item.questionMedia}" class="img-thumbnail" />
							    <img th:if="${#strings.containsIgnoreCase(item.questionMedia,'.jpeg')}" th:src="${item.questionMedia}" class="img-thumbnail" />
							    <img th:if="${#strings.containsIgnoreCase(item.questionMedia,'.gif')}" th:src="${item.questionMedia}" class="img-thumbnail" />
							    <img th:if="${#strings.containsIgnoreCase(item.questionMedia,'.png')}" th:src="${item.questionMedia}" class="img-thumbnail" />
							    <audio th:if="${#strings.containsIgnoreCase(item.questionMedia,'.mp3')}" th:src="${item.questionMedia}" controls="controls"></audio>
							    <audio th:if="${#strings.containsIgnoreCase(item.questionMedia,'.aifc')}" th:src="${item.questionMedia}" controls="controls"></audio>
							  </th:block>
							</td>
							<td th:text="${item.description}">Description</td>
							<td th:text="${item.foreignSource}">Foreign Source</td>
							<td th:text="${item.foreignId}">Foreign Id</td>
							<td th:text="${item.direction}">Direction</td>
							<td>
								<ul class="list-group" style="margin-bottom:0px;">
									<th:block th:object="${item}">
										<li class="list-group-item" style="padding:2px;" th:each="ans : *{answers}">
											<a th:href="${'/admin/answer/' + ans.id}" th:text="${ans.answerValue + ' : ' +ans.answerText}">Answer</a>
										</li>
									</th:block>
									<li class="list-group-item text-center" style="padding:2px;">
										<a th:href="${'/admin/answer/'+item.questionId+'/create'}">Create</a>
									</li>
								</ul>
							</td>
							<td th:text="${item.displayId}">Display Id</td>
							
							<td><a th:href="${'/admin/' + model + '/' + item.questionId}">View</a></td>
							<td><a th:href="${'/admin/' + model + '/edit/' + item.questionId}">Edit</a></td>
							<td><a th:href="${'/admin/' + model + '/delete/' + item.questionId}">Delete</a></td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
		<script>
			var qTable;
			$(document).ready(function() {
			    qTable = $('#listtable').DataTable({
			    	columnDefs : [{
			    		visible: false,
			    		targets : 0
			    	}]
			    });
				qTable.$('tr').click(function (){
					$(this).toggleClass('selected');
					$('#selectedqcount').text(qTable.$('tr.selected').length);
					
				});
			});
			function addQuestionsToSurvey() {
				var sqs = [];
				var ss = $('#surveysection').val().split(':');
				qTable.$('tr.selected').each(function () {
					var rowdata = $('#listtable').dataTable().fnGetData(this);
					var sques = {};
					sques.surveyId = parseInt(ss[0]);
					sques.questionId = parseInt(rowdata[0]);
					sques.page = parseInt(ss[1]);
					sques.sequence = 1;
					sques.required = true;
					sqs.push(sques);
				});
				$('#wait').removeClass('hidden');
				$.ajax({
						type: "POST",
						async: true,
						url: "/admin/survey/"+ss[0]+"/addquestions",
					    headers: { 
					        'Content-Type': 'application/json' 
					    },
						data: JSON.stringify(sqs),
						success: function(data) {
							$('#wait').addClass('hidden');
							var count = qTable.$('tr.selected').length;
							window.alert('Successfully added ' + count + ' items' );
							qTable.$('tr.selected').each(function () {$(this).toggleClass('selected');});
						},
						error: function(a,b,data) {
							$('#wait').addClass('hidden');
							window.alert('error', data);
						}
				});
			}
		</script>
	</div>
</body>
</html>