<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

<link rel="shortcut icon" type="image/gif" href="/images/favico.gif" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel='stylesheet' type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css" />
<link rel='stylesheet' type='text/css' href='/css/custom.css?version=@version@' media='all' />
<link rel='stylesheet' type='text/css' href='/css/admin_style.css?version=@version@' media='all' />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.13/tinymce.min.js'></script>
<script type="text/javascript" src='/js/admin.js?version=@version@'></script>
</head>

<body>

	<div th:fragment="leftnav">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="/admin/index" class="site_title"><span> <img
						height="55px" width="auto" src="/images/tal-logo-sm.png"
						alt="Talytica" /></span></a>
			</div>
			<div class="clearfix"></div>
			<br />
			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<ul class="nav side-menu">
						<li><a><i class="fa fa-clipboard"></i>Survey
								Design</a>
							<ul class="nav child_menu">
								<li><a href="/admin/survey"><i class="fa fa-clipboard"></i>Surveys</a>
								</li>
								<li><a href="/admin/corefactor"><i
										class="fa fa-snowflake-o"></i>Corefactors</a></li>
								<li><a href="/admin/cfDescription"><i
										class="fa fa-comments"></i>Corefactor Descriptions</a></li>
								<li><a href="/admin/question"><i class="fa fa-edit"></i>Questions</a>
								</li>
								<li><a href="/admin/answer"><i class="fa fa-bullhorn"></i>Answers</a>
								</li>
								<li><a href="/admin/criterion"><i class="fa fa-search"></i>Criteria</a>
								</li>
								<li><a href="/admin/upload"><i class="fa fa-upload"></i>Uploads</a>
								</li>
							</ul></li>
						<li><a><i class="fa fa-building"></i>Account
								Management</a>
							<ul class="nav child_menu">
								<li><a href="/admin/account"><i class="fa fa-building"></i>Accounts</a>
								</li>
								<li><a href="/admin/user"><i class="fa fa-users"></i>Users</a>
								</li>
								<li><a href="/admin/asurvey"><i class="fa fa-clipboard"></i>Account Surveys</a>
								</li>
								<li><a href="/admin/evalconfig"><i class="fa fa-cogs"></i>Eval Configuration</a>
								</li>
								<li><a href="/admin/rcconfig"><i class="fa fa-cogs"></i>Reference Check Config</a>
								</li>
								<li><a href="/admin/location"><i class="fa fa-home"></i>Locations</a>
								</li>
								<li><a href="/admin/position"><i class="fa fa-briefcase"></i>Positions</a>
								</li>
								<li><a href="/admin/workflow"><i class="fa fa-briefcase"></i>Custom Workflows</a>
								</li>
								<li><a href="/admin/posconfig"><i class="fa fa-wrench"></i>PredictionConfig</a>
								</li>
								<li><a href="/admin/benchmark"><i
										class="fa fa-tachometer"></i>Benchmarks</a></li>
							</ul></li>
						<li><a><i class="fa fa-cogs"></i>Predictions</a>
							<ul class="nav child_menu">
								<li><a href="/admin/analytics"><i
										class="fa fa-cloud"></i>Analytics</a></li>
								<li><a href="/admin/predictiontarget"><i
										class="fa fa-bullseye"></i>Prediction Targets</a></li>
								<li><a href="/admin/predictionmodel"><i
										class="fa fa-cogs"></i>Prediction Models</a></li>
								<li><a href="/admin/regressionconfig"><i
										class="fa fa-cog"></i>Linear Configs</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<!-- /sidebar menu -->
		</div>
	</div>


	<div th:fragment="topnav">
		<div class="nav_menu">
			<nav class="" role="navigation">
				<div class="nav toggle">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="javascript:;"
						class="user-profile dropdown-toggle" data-toggle="dropdown"
						aria-expanded="false"> <span id="user_fname"
							sec:authentication="principal.username">John Doe</span> <span
							class=" fa fa-angle-down"></span></a>
						<ul
							class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
							<li><a href="#" onclick='logout();'><i
									class="fa fa-sign-out pull-right"></i> Log Out</a></li>
						</ul></li>
				</ul>
			</nav>
		</div>

	</div>

	<div th:fragment="alert">
		<div th:if="${message}" class="row"><div class="col-xs-12">
			<div class="alert alert-info alert-dismissible" role="alert">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span></button>
				<th:block th:text="${message}"></th:block>
			</div>
		</div></div>
	</div>

	<div th:fragment="footer">
		<h2>Footer</h2>
	</div>
</body>
<script>
	$(document).ready(function() {
		readyNav();
	});
</script>
</html>