<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/index-layout">
<head lang="en">
<title th:text="${'Edit ' + modelDisplay + } ">Edit</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="x_panel">
			<div class="x_title">
				<div class="col-xs-6"><h3 th:text="${modelDisplay}"></h3></div>
				<div class="col-xs-6">
					<ul class="nav navbar-right panel_toolbox">
	                    <li><a th:href="${'/admin/' + model + '/create'}"><i class="fa fa-plus"></i></a></li>
	                    <li><a th:href="${'/admin/' + model}" ><i class="fa fa-backward"></i></a></li>
	                </ul>
				</div>
                <div class="clearfix"></div>
			</div>
			<div class="x_content">
			<form class="form-horizontal" th:object="${item}" th:action="${'/admin/' + model + '/save'}" method="post">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{id}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{name}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Description:</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="description" id="description" th:inline="text">[[${item.description}]]</textarea>
					</div>		
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Status:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{surveyStatus}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Type:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{surveyType}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Availability:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{availability}" />
					</div>
				</div>
				<div class="form-group col-sm-12 text-center">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
			</div>
			 <script>tinymce.init({ selector:'textarea' });</script>
		</div>
	</div>
</body>
</html>