<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/index-layout">
<head lang="en">
<title th:text="${modelDisplay} "></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<h3 th:text="${modelDisplay}"></h3>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2">
				<a th:href="${'/admin/' + model}">List</a>
			</div>						
			<div class="col-md-2 col-sm-2 col-xs-2">
				<a th:href="${'/admin/' + model + '/edit/' + item.id}">Edit</a>
			</div>			
			<div class="col-md-2 col-sm-2 col-xs-2 pull-right">
				<a class="right_col" th:href="${'/admin/' + model + '/create'}">Create</a>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.id}">Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.name}">Name</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Description:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.description}">description</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Source:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.source}">Source</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Foreign Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.foreignId}">Foreign
							Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Display Group:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.displayGroup}">Display
							Group</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Low Value:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.lowValue}">Low
							Value</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">High Value:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.highValue}">High
							Value</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Low Description:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.lowDescription}">Low
							Description</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">High Description:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.highDescription}">High
							Description</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Mean Score:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.meanScore}">Mean
							Score</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Measurements:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.measurements}">Measurements</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Score Deviation:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.scoreDeviation}">Score Deviation</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Corefactor Descriptions:</label>
					<div class="col-sm-10">
						<p class="form-control-static">
								<ul>
									<th:block th:object="${item}">
										<li th:each="cd : *{corefactorDescriptions}">
											<a th:href="${'/admin/corefactorDescription/' + cd.id}" th:text="${cd.id + ':' + cd.description}">Corefactor Description</a>
										</li>
									</th:block>
								</ul>						
						</p>
					</div>
				</div>				
			
				<div class="form-group col-sm-6 col-lg-6 text-center">
					<a th:href="${'/admin/' + model + '/edit/' + item.id}">Edit</a>
				</div>
				<div class="form-group col-sm-6 col-lg-6 text-center">
					<a th:href="${'/admin/' + model + '/delete/' + item.id}">Delete</a>
				</div>				
					
			</form>

		</div>
	</div>
</body>
</html>